<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ETI | Transaction List</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/css/buttons.dataTables.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <style>
    .dt-buttons{
      margin-bottom: 10px;
    }
  </style>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include files/header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Transaction List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Transaction List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <!--<div class="card-header">
          <h3 class="card-title">DataTable with default features</h3>
        </div>-->
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 mb-1">
              <select name="week" id="week" onchange="week_filtter(this.value)" class="form-control">
                <option value="">Select Week</option>
                <option value="1">Current Week</option>
                <option value="2">Last Week</option>
              </select>
            </div>
            <div class="col-sm-6 mb-1">
              <div class="input-group date" id="month" data-target-input="nearest">
                <input type="text" placeholder="Search by month" name="date_time" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#month"/>
                <div class="input-group-append" data-target="#month" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-1">
              <div class="input-group date" id="date" data-target-input="nearest">
                <input type="text" placeholder="Search by date" name="date_time" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#date"/>
                <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-1">
              <div class="input-group">
                <input type="text" placeholder="Search by date range" class="form-control float-right" id="reservation">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                
              </div>
            </div>
          </div>

          <!-- <a href="" download="total-transaction.csv">DOWNLOAD CSV</a> -->
          <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>S.no</th>
              <th>Invoice Id</th>
              <th>Transaction Amount</th>
              <th>Transaction ID</th>
              <th>Account Number</th>
              <th>IFSC</th>
              <th>PAN Card</th>
              <th>date</th>
              <th>invoice</th>
            </tr>
            </thead>
            <tbody>
            <% if(locals.to_tarn){ %>
              <% console.log(to_tarn)
              var i=1 %>
              <% to_tarn.forEach(function(to_tar){ %>
                
                <tr>
                  <td><%= i++ %></td>
                  <td><%= to_tar.invoice_id %></td>
                  <td><%= to_tar.transaction_amount %></td>
                  <td><%= to_tar.transaction_id %></td>
                  <td><%= to_tar.investor_account_no %></td>
                  <td><%= to_tar.account_ifsc_code %></td>
                  <td><%= to_tar.pan_card_no %></td>
                  <td>
                    <% if(to_tar.transaction_date_time!=null){ 
                      var new_date_ob=new Date(to_tar.transaction_date_time);
                      %>
                    <%= new_date_ob.getFullYear() + '-' + ("0" +(parseInt(new_date_ob.getMonth()) + parseInt(1))).slice(-2) + '-' +("0"+new_date_ob.getDate()).slice(-2)  %>
                    <% } %>
                  </td>
                  <td>
                    <a title="Generate Invoice" class="btn btn-info btn-floating btn-sm" type="button" href="<%= '/payment-invoice/'+to_tar._id %>">Generate</a> 
                  </td>
                </tr>
                <% }) %>
            <% } %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.5
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- InputMask -->
<script src="/plugins/moment/moment.min.js"></script>
<!-- date-range-picker -->
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/dataTables.buttons.min.js"></script>
<script src="/javascripts/pdfmake.min.js"></script>
<script src="/javascripts/vfs_fonts.js"></script>
<script src="/javascripts/jszip.min.js"></script>
<script src="/javascripts/buttons.html5.min.js"></script>

<!-- InputMask -->
<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script>
  $('#month,#date').datetimepicker({
        timepicker:true,
  });
  
    //Date range picker
    $('#reservation').daterangepicker({maxDate:new Date()});
    $('#reservation').val('');
  var oTable=$("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
      dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                text:'<i class="fas fa-download"></i> DOWNLOAD PDF',
                filename:'Transaction-List',
            },
            {
            extend: 'excelHtml5',
            autoFilter: true,
            sheetName: 'Transaction List',
            text:'<i class="fas fa-download"></i> DOWNLOAD EXCEL',
            filename:'Transaction-List',
        }
        ]
    });
  function week_filtter(val){
    if(val.length>0){
      if(val==1){
        $('#reservation,#date,#month').val('');
        maxDateFilter=new Date().getTime();
        minDateFilter=startOfWeek(new Date()).getTime();
        oTable.draw();
      }else if(val==2){
        $('#reservation,#date,#month').val('');
        maxDateFilter=startOfWeek(new Date()).getTime();
        lastweek=new Date();
        lastweek.setDate(startOfWeek(new Date()).getDay()-7);
        minDateFilter=new Date(lastweek).getTime();
        oTable.draw();
      }
    }
  }

  $('#month').on('change.datetimepicker', function({date, oldDate}){
    $('#reservation,#date,#week').val('');
        date = new Date(date);
        minDateFilter=new Date(date.getFullYear(), date.getMonth(), 1).getTime();
        maxDateFilter=new Date(date.getFullYear(), date.getMonth() + 1, 0).getTime();
        oTable.draw();
    });
    $('#date').on('change.datetimepicker', function({date, oldDate}){
      $('#reservation,#month,#week').val('');
      date = new Date(date);
      minDateFilter=new Date(date.getFullYear()+'-'+("0" +(parseInt(date.getMonth()) + parseInt(1))).slice(-2)+'-'+("0" +date.getDate()).slice(-2)+'T00:00:00.000Z').getTime();
      maxDateFilter=new Date(date.getFullYear()+'-'+("0" +(parseInt(date.getMonth()) + parseInt(1))).slice(-2)+'-'+("0" +date.getDate()).slice(-2)+'T23:59:59.999Z').getTime();
      oTable.draw();
    });
    $('#reservation').on('apply.daterangepicker', function(ev, picker){
      $('#date,#month,#week').val('');
      minDateFilter=new Date(picker.startDate);
      maxDateFilter=new Date(picker.endDate);
      oTable.draw();
    })

  function startOfWeek(date)
  {
    var diff = date.getDate() - date.getDay() + (date.getDay() === 0 ? -6 : 1);
    date.setDate(diff)
    return new Date(date.getFullYear()+'-'+("0" +(parseInt(date.getMonth()) + parseInt(1))).slice(-2)+'-'+("0" +date.getDate()).slice(-2)+'T00:00:00.000Z');
 
  }
  // Date range filter
minDateFilter = "";
maxDateFilter = "";

$.fn.dataTableExt.afnFiltering.push(
  function(oSettings, aData, iDataIndex) {
    if (typeof aData._date == 'undefined') {
      aData._date = new Date(aData[7]).getTime();
      //console.log(aData._date);
    }

    if (minDateFilter && !isNaN(minDateFilter)) {
      if (aData._date < minDateFilter) {
        return false;
      }
    }

    if (maxDateFilter && !isNaN(maxDateFilter)) {
      if (aData._date > maxDateFilter) {
        return false;
      }
    }

    return true;
  }
);
</script>
<script>
  // $("a[download]").click(function(){
  //     $("#example1").toCSV(this);    
  // });
  // jQuery.fn.toCSV = function(link) {
  //   var $link = $(link);
  //   var data = $(this).first(); //Only one table
  //   var csvData = [];
  //   var tmpArr = [];
  //   var tmpStr = '';
  //   data.find("tr").each(function() {
  //       if($(this).find("th").length) {
  //           $(this).find("th").each(function() {
  //             tmpStr = $(this).text().replace(/"/g, '""');
  //             tmpArr.push('"' + tmpStr + '"');
  //           });
  //           csvData.push(tmpArr);
  //       } else {
  //           tmpArr = [];
  //              $(this).find("td").each(function() {
  //                   if($(this).text().match(/^-{0,1}\d*\.{0,1}\d+$/)) {
  //                       tmpArr.push(parseFloat($(this).text()));
  //                   } else {
  //                       tmpStr = $(this).text().replace(/"/g, '""');
  //                       tmpArr.push('"' + tmpStr + '"');
  //                   }
  //              });
  //           csvData.push(tmpArr.join(','));
  //       }
  //   });
  //   var output = csvData.join('\n');
  //   var uri = 'data:application/csv;charset=UTF-8,' + encodeURIComponent(output);
  //   $link.attr("href", uri);
  // }
  </script>
</body>
</html>
