<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ETI | Transaction List</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/css/buttons.dataTables.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <style>
    .dt-buttons{
      margin-bottom: 10px;
    }
  </style>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include files/header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Transaction List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Transaction List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <!--<div class="card-header">
          <h3 class="card-title">DataTable with default features</h3>
        </div>-->
        <!-- /.card-header -->
        <div class="card-body">
          <!-- <a href="" download="total-transaction.csv">DOWNLOAD CSV</a> -->
          <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>S.no</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Account No</th>
              <th>IFSC</th>
              <th>Transaction ID</th>
              <th>Transaction Amount</th>
              <th>date</th>
              <th>invoice</th>
            </tr>
            </thead>
            <tbody>
            <% if(locals.to_tarn){ %>
              <% var i=1 %>
              <% to_tarn.forEach(function(to_tar){ %>
                
                <tr>
                  <td><%= i++ %></td>
                  <td><%= to_tar.investor_name %></td>
                  <td><%= to_tar.investor_mobile %></td>
                  <td><%= to_tar.investor_account_no %></td>
                  <td><%= to_tar.account_ifsc_code %></td>
                  <td><%= to_tar.transaction_id %></td>
                  <td><%= to_tar.transaction_amount %></td>
                  <td>
                    <% if(to_tar.transaction_date_time!=null){ 
                      var new_date_ob=new Date(to_tar.transaction_date_time);
                      %>
                    <%= new_date_ob.getDate() + '/' + (parseInt(new_date_ob.getMonth()) + parseInt(1)) + '/' + new_date_ob.getFullYear() %>
                    <% } %>
                  </td>
                  <td>
                    <a title="Generate Invoice" class="btn btn-info btn-floating btn-sm" type="button" href="<%= '/payment-invoice/'+to_tar._id %>">Generate</a> 
                  </td>
                </tr>
                <% }) %>
            <% } %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.5
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/dataTables.buttons.min.js"></script>
<script src="/javascripts/pdfmake.min.js"></script>
<script src="/javascripts/vfs_fonts.js"></script>
<script src="/javascripts/jszip.min.js"></script>
<script src="/javascripts/buttons.html5.min.js"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
      dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                text:'<i class="fas fa-download"></i> DOWNLOAD PDF',
                filename:'Transaction-List',
            },
            {
            extend: 'excelHtml5',
            autoFilter: true,
            sheetName: 'Transaction List',
            text:'<i class="fas fa-download"></i> DOWNLOAD EXCEL',
            filename:'Transaction-List',
        }
        ]
    });
  });
</script>
<script>
  // $("a[download]").click(function(){
  //     $("#example1").toCSV(this);    
  // });
  // jQuery.fn.toCSV = function(link) {
  //   var $link = $(link);
  //   var data = $(this).first(); //Only one table
  //   var csvData = [];
  //   var tmpArr = [];
  //   var tmpStr = '';
  //   data.find("tr").each(function() {
  //       if($(this).find("th").length) {
  //           $(this).find("th").each(function() {
  //             tmpStr = $(this).text().replace(/"/g, '""');
  //             tmpArr.push('"' + tmpStr + '"');
  //           });
  //           csvData.push(tmpArr);
  //       } else {
  //           tmpArr = [];
  //              $(this).find("td").each(function() {
  //                   if($(this).text().match(/^-{0,1}\d*\.{0,1}\d+$/)) {
  //                       tmpArr.push(parseFloat($(this).text()));
  //                   } else {
  //                       tmpStr = $(this).text().replace(/"/g, '""');
  //                       tmpArr.push('"' + tmpStr + '"');
  //                   }
  //              });
  //           csvData.push(tmpArr.join(','));
  //       }
  //   });
  //   var output = csvData.join('\n');
  //   var uri = 'data:application/csv;charset=UTF-8,' + encodeURIComponent(output);
  //   $link.attr("href", uri);
  // }
  </script>
</body>
</html>
